*
{
    margin: 0px;
    padding: 0px;
}

.info
{
    background-color: #5E5E4A;
    color: white;
    text-align: center;
    font-family: sans-serif;
    letter-spacing: 3px;
    padding: 10px;
    font-size: 12px;
}

 nav
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0px;
    margin: 0px 40px;
}

.navmid
{
    cursor: pointer;
}

nav a
{
    color: black;
    text-decoration: none;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
}

nav ul
{
    list-style: none;
}

nav li
{
    display: inline-block;
    padding: 0px 10px;
}

nav a
{
    transition: all 0.3s ease 0s;
}

nav a:hover
{
    color: silver;
}

.navright
{
    display: flex;
    align-items: center;
}

.navright>a
{
    font-size: 16px;
}

.navmid
{
    font-weight: 900;
    border: 2px solid black;
    padding: 8px;
    transition: all 0.3s ease 0s;
    font-size: 20px;
}

.navmid>a:hover
{
    color: black;
}

.navmid:hover
{
    box-shadow: 5px 5px black;
}

.profile
{
    margin-right: -20px;
    margin-top: 5px;
}

.searchbox
{
    border: 2px solid white;
    border-bottom: 1px solid black;
    height: 35px;
    width: 230px;
}

.searchbox:hover
{
    border: 2px solid black;

}

.navleft li a
{
    font-size: 16px;
    font-weight: lighter;
}

main
{
    height: 500vh;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.bigimage
{
    height: 700px;
}

.limage
{
    float: left;
    position: absolute;
    z-index: -1;
    
}


.textbutton
{
    vertical-align: baseline;
    margin-bottom: 0px;
    margin-left: 530px;
    max-width: 600px;
    position: relative;
    top: 250px;
}

.text1
{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    font-weight:lighter;
}

.text2
{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 70px;
    font-weight:lighter;
}

.section button
{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

.textbutton>div,button
{
    margin-top: 15px;
}

.shopnow
{
   padding:10px 35px;
    background-color: #5E5E4A;
    color: whitesmoke;
    transition: all 0.5s ease 0s;
    border: 1px solid black;
    font-size: 13px;
    font-weight: lighter;
}

.shopnow:hover
{
    background-color: silver;
    color: black;
    cursor: pointer;
    border: 1px solid black;
}

.sof
{
    text-align: center;
    margin: 130px 0px;
    font-family: inherit;
    letter-spacing: 8px;
    font-size: 50px;
    font-weight:lighter
   
}

.videonother
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1.5rem;
}

.textnbutton
{
    max-width: 350px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-height: 50vh;
    justify-content: space-between;
}

.textnbutton>span,button
{
    font-family: inherit;
    font-weight: lighter;
}

.nature
{
    font-size: 35px;
    letter-spacing: 2px;
}

.para
{
    font-size: 20px;
}

.vid
{
    resize: horizontal;
}