*
{
    margin: 0px;
    padding: 0px;
}

.info
{
    background-color: #5E5E4A;
    color: white;
    text-align: center;
    font-family: sans-serif;
    letter-spacing: 3px;
    padding: 10px;
    font-size: 12px;
}

 nav
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0px;
    margin: 0px 40px;
}

.navmid
{
    cursor: pointer;
}

nav a
{
    color: black;
    text-decoration: none;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
}

nav ul
{
    list-style: none;
}

nav li
{
    display: inline-block;
    padding: 0px 10px;
}

nav a
{
    transition: all 0.3s ease 0s;
}

nav a:hover
{
    color: silver;
}

.navright
{
    display: flex;
    align-items: center;
}

.navright>a
{
    font-size: 16px;
}

.navmid
{
    font-weight: 900;
    border: 2px solid black;
    padding: 8px;
    transition: all 0.3s ease 0s;
    font-size: 20px;
}

.navmid>a:hover
{
    color: black;
}

.navmid:hover
{
    box-shadow: 5px 5px black;
}

.profile
{
    margin-right: -20px;
    margin-top: 5px;
}

.searchbox
{
    border: 2px solid white;
    border-bottom: 1px solid black;
    height: 35px;
    width: 230px;
}

.searchbox:hover
{
    border: 2px solid black;

}

.navleft li a
{
    font-size: 16px;
    font-weight: lighter;
}

main
{
    height: 600vh;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.bigimage
{
    height: 700px;
}

.limage
{
    float: left;
    position: absolute;
    z-index: -1;
    
}


.textbutton
{
    vertical-align: baseline;
    margin-bottom: 0px;
    margin-left: 530px;
    max-width: 600px;
    position: relative;
    top: 250px;
}

.text1
{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    font-weight:lighter;
}

.text2
{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 70px;
    font-weight:lighter;
}

.section button
{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

.textbutton>div,button
{
    margin-top: 15px;
}

.shopnow
{
   padding:10px 35px;
    background-color: #5E5E4A;
    color: whitesmoke;
    transition: all 0.4s ease 0s;
    border: 1px solid black;
    font-size: 13px;
    font-weight: lighter;
}

.shopnow:hover
{
    background-color: whitesmoke;
    color: black;
    cursor: pointer;
    border: 1px solid black;
}

.sof
{
    text-align: center;
    margin: 100px 0px;
    font-family: inherit;
    letter-spacing: 8px;
    font-size: 55px;
    font-weight:lighter
   
}

.videonother
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3rem;
    margin-left: 10rem;
}

.textnbutton
{
    margin-top: 20px;
    max-width: 390px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-height: 50vh;
    justify-content: space-between;
    gap: 50px;
}

.textnbutton>span,button
{
    font-family: inherit;
    font-weight: lighter;
}

.nature
{
    font-size: 40px;
    letter-spacing: 2px;
}

.para
{
    font-size: 20px;
}

.vid>video
{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.vid
{
    height: 650px;
    width: 400px;
    
}

.shopcandles
{
    padding:10px 35px;
    background-color: whitesmoke;
    color: black;
    transition: all 0.5s ease 0s;
    border: 1px solid black;
    font-size: 15px;
    font-weight: lighter;
}

.shopcandles:hover
{
    background-color: #5E5E4A;
    
    color: whitesmoke;
    cursor: pointer;
    border: 1px solid black;
}

.overlapntext
{
    display: flex;
    justify-content: center;
    margin: 6rem 0rem;
    margin-right: 10rem;
    margin-bottom: 4rem;
}

.overlapimg
{
    height: 39rem;
    width: 30rem;
    display: flex;
    overflow: none;
}

.img1
{
    height: 33.5rem;
    width: 24rem;
    background-color: #5E5E4A;
    position: absolute;
    align-self: flex-end;
    z-index: -1;
   
}

.img2
{
    margin-left: 2rem;
    height: 600px;
    width: 400px;
}

.img2>img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sidescroll
{
    height: 40rem;
    background-color: #d7d7cb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4.5rem;
}

.sidescroll>ul
{
    list-style: none;
}

.sale
{
    position: absolute;
    background-color: #5E5E4A;
    color: whitesmoke;
    font-size: 15px;
    padding: 10px 20px;
    z-index: 999;
}

.photos
{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3rem;
}


.lavender
{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.cutprice
{
    text-decoration: line-through;
}

.mpop
{
    font-size: 40px;
}

.itempic>img
{
    height: 100%;
    width: 100%;
} 

.itempic
{
    height: 300px;
    transition: all 0.2s ease 0s;
    overflow: hidden;
    position: relative;
}

.itempic:hover
{
    box-shadow: 0px 0px 5px #5E5E4A;
}

.prices,.candelname
{
    font-size: 18px;
}
.candelname
{
    margin-top: 15px;
}

.storytxt
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    margin-top: 5rem;
    margin-bottom: 3rem;
}

.para3
{
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
}

.qv
{
    position: absolute;
    z-index: 11;
    background-color: whitesmoke;
    text-align: center;
    text-decoration:none;
    color: black;
    height: 40px;
    width: 100%;
    left: 50%;
    transform: translate(-50%,0%);
}

.itempic:hover .qv
{
    animation: up 0.3s ease-in-out 0s;
    animation-fill-mode: forwards;
}  

@keyframes up {
    from
    {
        bottom: -15%;
    }
    to
    {
        bottom: 2%;
    }
}

.overlapimg2
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img21
{
    position: absolute;
    z-index: -1;
}

.img22
{
   margin-top: 8%;
}

.img22>img,.img21>img
{
    height: 31rem;
}

.ns
{
    font-size: 37px;
}

.para3
{
    font-size: 20px;
}

.tlb
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 52rem;
    background-color:rgb(236, 230, 230);
    gap: 2rem;
    margin: 6rem 0;
    margin-bottom: 4rem;
}

.picntext
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5rem;
}

.inside
{
    display: flex;
    flex-direction: column;
    max-width: 16rem;
    gap: 1.5rem;
}

.inside>a>img
{
    height: 22rem;
}

.inside>a
{
    text-decoration: none;
    color: black;
}

.tlbtext
{
    font-size: 35px;
    margin-bottom: 2rem;
}

.tips
{
    font-size: 23px;

}

.final
{
    height: 20rem;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
}

.lumis
{
    font-weight: 900;
    border: 2px solid black;
    padding: 8px;
    transition: all 0.3s ease 0s;
    font-size: 20px;
}

.lumis>a:hover
{
    color: black;
}

.lumis:hover
{
    box-shadow: 5px 5px black;
}

.final>ul
{
    width: 27%;
    list-style: none;
}
.lolo
{
    width: 46%;
}

.lolo
{
    display: flex;
    justify-content: center;
    align-items:flex-start;
}

.final a
{
    color: black;
    text-decoration: none;
}

.undertit
{
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.second
{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.tit
{
    font-size: 23px;
}

.in2nd
{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.undertit>a
{
    font-size: 15px;
}

.socials
{
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.8rem;
}